on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  get-changed-project-stack:
    runs-on: ubuntu-latest
    steps:
      - id: git-clone
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - id: install-python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - id: git-diff
        uses: technote-space/get-diff-action@v6
      - id: changed-project-stack
        run: |
          export CHANGED_PATHS="${{ steps.git-diff.outputs.diff }}"
          python hack/get_changed_project_stack.py
    outputs:
      changed_projects: ${{ steps.changed-project-stack.outputs.changed_projects }}
      changed_stacks: ${{ steps.changed-project-stack.outputs.changed_stacks }}

  check-structure:
   needs: get-changed-project-stack
   runs-on: ubuntu-latest
   container:
     image: kusionstack/kusion:latest
     env:
       CHANGED_PROJECTS: ${{ needs.get-changed-project-stack.outputs.changed_projects }}
       CHANGED_STACKS: ${{ needs.get-changed-project-stack.outputs.changed_stacks }}
   steps:
     - id: git-clone
       uses: actions/checkout@v2
       with:
         fetch-depth: 0
     - id: install-pytest-html
       run: python3 -m pip install pytest-html pyyaml -i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
     - id: check-structure
       run: python3 -m pytest -v hack/check_structure.py --junitxml ./hack/report/check-structure.xml --html ./hack/report/check-structure.html
     - id: upload-report
       if: always()
       uses: actions/upload-artifact@v2
       with:
         name: check-structure-report
         path: |
           hack/report/check-structure.xml
           hack/report/check-structure.html

   test-correctness:
     needs: get-changed-project-stack
     runs-on: ubuntu-latest
     container:
       image: kusionstack/kusion:latest
       env:
         CHANGED_STACKS: ${{ needs.get-changed-project-stack.outputs.changed_stacks }}
     steps:
       - id: git-clone
         uses: actions/checkout@v2
         with:
           fetch-depth: 0
       - id: install-pytest-html
         run: python3 -m pip install pytest-html pyyaml -i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
       - id: test-correctness
         run: python3 -m pytest -v hack/test_correctness.py --junitxml ./hack/report/test-correctness.xml --html ./hack/report/test-correctness.html
       - id: upload-report
         if: always()
         uses: actions/upload-artifact@v2
         with:
           name: test-correctness-report
           path: |
             hack/report/test-correctness.xml
             hack/report/test-correctness.html        

   preview:
     needs: get-changed-project-stack
     runs-on: ubuntu-latest
     container:
       image: kusionstack/kusion:latest
       env:
         CHANGED_STACKS: ${{ needs.get-changed-project-stack.outputs.changed_stacks }}
     steps:
       - id: git-clone
         uses: actions/checkout@v2
         with:
           fetch-depth: 0
       - id: install-python
         uses: actions/setup-python@v4
         with:
           python-version: 3.9
       - id: setup-k3d
         uses: nolar/setup-k3d-k3s@v1.0.8
       - id: preview
         run: python3 hack/preview_changed_stacks.py
       - id: upload-report
         if: always()
         uses: actions/upload-artifact@v2
         with:
           name: preview-report
           path: hack/report/preview-result.zip

   apply:
     needs: get-changed-project-stack
     runs-on: ubuntu-latest
     container:
       image: kusionstack/kusion:latest
       env:
         CHANGED_STACKS: ${{ needs.get-changed-project-stack.outputs.changed_stacks }}
     steps:
       - id: git-clone
         uses: actions/checkout@v2
         with:
           fetch-depth: 0
       - id: install-python
         uses: actions/setup-python@v4
         with:
           python-version: 3.9
       - id: setup-k3d
         uses: nolar/setup-k3d-k3s@v1.0.8
       - id: apply
         run: python3 hack/apply_changed_stacks.py
       - id: upload-report
         if: always()
         uses: actions/upload-artifact@v2
         with:
           name: apply-report
           path: hack/report/apply-result.zip

  # deprecated checkpoints. need upgrade
  # lint:
  #   needs: deps
  #   runs-on: ubuntu-latest
  #   container:
  #     image: kusionstack/kusion:latest
  #     env:
  #       CHANGED_FILE: ${{needs.diff.outputs.CHANGED_FILE}}
  #       AFFECTED_STACKS: ${{needs.deps.outputs.affected_stacks}}
  #       AFFECTED_PROJECTS: ${{needs.deps.outputs.affected_projs}}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-python@v4
  #       with:
  #         python-version: '3.9'
  #     - id: install-pytest-html
  #       run: |
  #         python3 -m pip install pytest-html pytest-xdist ruamel.yaml -i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
  #         # todo: the following script is to workaround "missing kclvm_cli" error, after the problem solved in the kclvm v0.4.6, this can be removed
  #         apt -y install wget
  #         wget -c https://github.com/KusionStack/KCLVM/releases/download/v0.4.6.2/kclvm-v0.4.6.2-linux-amd64.tar.gz -qO - | tar xz -C ./
  #     - id: lint-check
  #       run: |
  #         export PATH=$PATH:$(pwd)/kclvm/bin
  #         python3 -m pytest -v -n 5 hack/lint_check.py --junitxml ./hack/report/lint.xml --html=./hack/report/lint.html
  #     - id: upload-lint-report
  #       if: always()
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: lint-report
  #         path: |
  #           hack/report/lint.xml
  #           hack/report/lint.html
