on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  get-changed-project-stack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - id: git-diff
        uses: technote-space/get-diff-action@v6
      - id: changed-project-stack
        run: |
          export CHANGED_PATHS=${{ steps.git-diff.outputs.diff }}
          python hack/changed_project_stack.py
    outputs:
      CHANGED_PROJECTS: ${{ steps.changed-project-stack.outputs.changed_projects }}
      CHANGED_STACKS: ${{ steps.changed-project-stack.outputs.changed_stacks }}

  # deprecated checkpoints. need upgrade
  # lint:
  #   needs: deps
  #   runs-on: ubuntu-latest
  #   container:
  #     image: kusionstack/kusion:latest
  #     env:
  #       CHANGED_FILE: ${{needs.diff.outputs.CHANGED_FILE}}
  #       AFFECTED_STACKS: ${{needs.deps.outputs.affected_stacks}}
  #       AFFECTED_PROJECTS: ${{needs.deps.outputs.affected_projs}}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-python@v4
  #       with:
  #         python-version: '3.9'
  #     - id: install-pytest-html
  #       run: |
  #         python3 -m pip install pytest-html pytest-xdist ruamel.yaml -i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
  #         # todo: the following script is to workaround "missing kclvm_cli" error, after the problem solved in the kclvm v0.4.6, this can be removed
  #         apt -y install wget
  #         wget -c https://github.com/KusionStack/KCLVM/releases/download/v0.4.6.2/kclvm-v0.4.6.2-linux-amd64.tar.gz -qO - | tar xz -C ./
  #     - id: lint-check
  #       run: |
  #         export PATH=$PATH:$(pwd)/kclvm/bin
  #         python3 -m pytest -v -n 5 hack/lint_check.py --junitxml ./hack/report/lint.xml --html=./hack/report/lint.html
  #     - id: upload-lint-report
  #       if: always()
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: lint-report
  #         path: |
  #           hack/report/lint.xml
  #           hack/report/lint.html
  # structure-check:
  #   needs: deps
  #   runs-on: ubuntu-latest
  #   container:
  #     image: kusionstack/kusion:latest
  #     env:
  #       CHANGED_FILE: ${{needs.diff.outputs.CHANGED_FILE}}
  #       AFFECTED_STACKS: ${{needs.deps.outputs.affected_stacks}}
  #       AFFECTED_PROJECTS: ${{needs.deps.outputs.affected_projs}}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - id: install-pytest-html
  #       run: python3 -m pip install pytest-html pyyaml -i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
  #     - id: structure-check
  #       run: python3 -m pytest -v hack/verify-project-structure.py --junitxml ./hack/report/structure-check.xml --html=./hack/report/structure-check.html
  #     - id: upload-structure-check-report
  #       if: always()
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: structure-check-report
  #         path: |
  #           hack/report/structure-check.xml
  #           hack/report/structure-check.html
  # test:
  #   needs: deps
  #   runs-on: ubuntu-latest
  #   container:
  #     image: kusionstack/kusion:latest
  #     env:
  #       CHANGED_FILE: ${{needs.diff.outputs.CHANGED_FILE}}
  #       AFFECTED_STACKS: ${{needs.deps.outputs.affected_stacks}}
  #       AFFECTED_PROJECTS: ${{needs.deps.outputs.affected_projs}}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-python@v4
  #       with:
  #         python-version: '3.9'
  #     - id: test
  #       run: |
  #         python3 -m pip install pytest-html pytest-xdist ruamel.yaml -i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
  #         python3 -m pytest -v hack/test_konfig.py --junitxml ./hack/report/test.xml --html=./hack/report/test.html
  #     - id: upload-test-report
  #       if: always()
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: test-report
  #         path: |
  #           hack/report/test.xml
  #           hack/report/test.html
